body, html {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000000;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

button {
  cursor: pointer;
}

table, th, td {
  border: 1px solid rgba(255, 255, 255, 10%);
  border-collapse: collapse;
  padding: 15px 18px;
  text-align: left;
}

th {
  font-size: 16px;
  line-height: 120%;
  font-weight: 500;
}

td {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  color: rgba(255, 255, 255, 50%);
}

/* Shared Style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.miama-normal {
  font-family: "miamaregular", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-size: 36px;
  line-height: 120%;
  font-weight: 800;
  font-style: italic;
  color: #E6533C;
  text-decoration: none;
}

.primary-btn {
  padding: 16px 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background-color: #E6533C;
  border: 1px solid #E6533C;
  border-radius: 50px;
  transition: background-color .3s;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.primary-btn:hover {
  background-color: transparent;
  transition: background-color .3s;
}

.secondary-btn {
  padding: 16px 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: background-color .3s;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.secondary-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: background-color .3s;
}

.section-title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
}

.section-subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
  margin-top: 14px;
}

.text-center {
  text-align: center;
}

/* Header Styles */
header {
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 100%), rgba(119, 119, 119, 0%));
  padding: 60px 0px;
}

.header-wrapper {
  margin: 0 190px;
}

.header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper nav ul {
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 10%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 47px;
}
.header-wrapper nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  transition: background-color .3s;
  text-decoration: none;
  border-radius: 50px;
}

.header-wrapper nav ul li a:hover {
  background-color: #E6533C;
  transition: background-color .3s;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.banner-contents {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-image {
  width: 50%;
}

.banner-content {
  width: 520px;
}

.banner-title {
  font-size: 78px;
  line-height: 120%;
  font-weight: 900;
}

.banner-title span {
  font-weight: 400;
}

.banner-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  color: rgba(255, 255, 255, 50%);
  margin-top: 28px;
}

.banner-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  margin-top: 28px;
}

.banner-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-image-wrap {
  position: relative;
}

.banner-image .image-info1 {
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 12px;
  position: absolute;
  top: 125px;
  right: -80px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: 1px solid rgba(255, 255, 255, 10%);
}

.banner-image .image-info1 .number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ffffff;
}

.banner-image .image-info1 .text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 65%);
}

.banner-image .image-info2 {
  padding: 16px 24px;
  background-color: rgba(48, 48, 48, 54%);
  border: 1px solid rgba(255, 255, 255, 10%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  position: absolute;
  bottom: 63px;
  left: -120px;
}

.banner-image .image-info2 .circle {
  width: 40px;
  height: 40px;
  background-color: #E6533C;
  border-radius: 50%;
}

.banner-image .image-info2 .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-image .image-info2 .content .number {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 900;
}

.banner-image .image-info2 .content .text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  color: rgba(239, 237, 232, 65%);
}

/* Change Your Habits */
.change-your-habits {
  margin: 100px 198px 0px;
}

.image-with-content {
  margin-top: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.img-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
}

.img-content-box .box-img {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 10%);
  margin-bottom: 30px;
}

.img-content-box .box-title {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 6px;
}

.img-content-box .box-content {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
}

.run-extra-mile {
  margin: 100px 190px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 165px;
  padding: 30px 32px 30px 54px;
  background-color: #222222;
  border-radius: 18px;
}

.run-extra-mile-content {
  max-width: 443px;
}

.run-extra-mile-img {
  max-width: 336px;
  height: 312px;
  border-radius: 18px;
  overflow: hidden;
}

.run-extra-mile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.run-extra-mile-content .title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 14px;
}

.run-extra-mile-content .content {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
  margin-bottom: 34px;
}

/* Training and Excercise Section */
.training {
  margin: 100px 190px 0px;
}

.training-boxes {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.training-boxes .box-item {
  height: 202px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 24px;
}

.training-boxes .box-item:nth-child(1) {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: flex-end;
  color: #000000;
}

.training-boxes .box-item:nth-child(2) {
  grid-area: 1/2/2/5;
}

.training-boxes .box-item:nth-child(3) {
  grid-area: 1/5/2/6;
  display: flex;
  align-items: flex-end;
}

.training-boxes .box-item:nth-child(4) {
  grid-area: 2/1/3/3;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
}

.training-boxes .box-item:nth-child(5) {
  grid-area: 2/3/3/4;
  display: flex;
  align-items: flex-end;
}

.training-boxes .box-item:nth-child(6) {
  grid-area: 2/4/3/6;
  display: flex;
  align-items: flex-end;
}

.training-boxes .box-item .box-title {
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  max-width: 176px;
}

.section-heading {
  margin: 88px 384.5px;
}

/* BMI Calculator */
.bmi-calculator .section-content{
  background-color: #222222;
  padding: 49px 189px 52px;
}

.bmi-calculator-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 44px;
}

.bmi-calculator-content .title {
  font-size: 28px;
  line-height: 120%;
  font-weight: 900;
}

.bmi-calculator-content table {
  margin-top: 52px;
  width: 100%;
}

.bmi-form p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
  margin-top: 14px;
}

.bmi-chart {
  width: 310px;
}

.bmi-form {
  width: 577px;
}

.bmi-form form {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
}

.bmi-form form .form-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}

.bmi-form form input, .bmi-form form select {
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 8px;
  padding: 12px 40px 12px 20px;
  border: 0px;
  width: 49%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 60%);
}

.bmi-form form input::placeholder {
  color: rgba(255, 255, 255, 60%);
}

.bmi-form form select.activity-factor{
  width: 100%;
}

.bmi-form form select option {
  background-color: #222222;
}

.bmi-form form button {
  width: fit-content;
  margin-top: 34px;
}

/* Meet Your Trainers */
.meet-our-team {
  margin: 88px 190px;
}

.team-boxes {
  margin-top: 58px;
  padding: 20px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 10%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.team-boxes .team-box {
  height: 272px;
  position: relative;
  border-radius: 18px;
  overflow: hidden;
}

.team-boxes .team-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 20%);
}

.team-boxes .team-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  position: relative;
  z-index: -1;
}

.team-box-content {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0px 0px 20px 20px;
  z-index: 4;
}

.team-box-content .trainer-name {
  font-size: 20px;
  line-height: 120%;
  font-weight: 900;
}

.team-box-content .trainer-position {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
  color: rgba(255, 255, 255, 50%);
  margin-top: 3px;
}

footer {
  background-color: rgba(255, 255, 255, 10%);
}

.footer-contents {
  padding: 66px 190px 35px;
}

.footer-contents .content-boxes{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 102px;
}

.footer-contents .content-boxes .content-box:nth-child(1) {
  width: 443px;
}

.footer-contents .content-boxes .content-box:nth-child(2) {
  width: 514px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

footer hr {
  margin: 79px 0px 36px;
  border: none;
  border-top: 2px solid rgba(255, 255, 255, 10%);
}

footer .logo {
  font-weight: 800;
  font-size: 70px;
  line-height: 120%;
}

.copyright-text {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
}

.footer-description {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 400;
  color: rgba(255, 255, 255, 50%);
  margin-top: 20px;
}

.footer-menu .menu-title {
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 39px;
}

.footer-menu ul li {
  margin-bottom: 20px;
}

.footer-menu ul li a{
  font-size: 23px;
  line-height: 120%;
  font-weight: 400;
  color: rgba(255, 255, 255, 50%);
  text-decoration: none;
}

.mobile-menu {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.mobile-menu img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hambarger-icon {
  padding: 0px;
}

.hambarger-icon hr {
  margin: 2px 0px;
}

@media only screen and (max-width: 1440px) {
  .header-wrapper {
    margin: 0px 100px;
  }
  .change-your-habits {
    margin: 100px 100px 0px;
  }

  .run-extra-mile {
    margin: 100px 100px 0px;
  }

  .training {
    margin: 100px 100px 0px;
  }

  .bmi-calculator .section-content {
    padding: 49px 100px 52px;
  }

  .meet-our-team {
    margin: 88px 100px;
  }

  .footer-contents {
    padding: 66px 100px 35px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-wrapper {
    margin: 0px 30px;
  }
  .banner-image .image-info1 {
    right: 0px;
  }

  .change-your-habits {
    margin: 100px 30px 0px;
  }

  .run-extra-mile {
    margin: 100px 30px 0px;
  }

  .training {
    margin: 100px 30px 0px;
  }

  .section-heading {
    margin: 88px 30px;
  }

  .bmi-calculator .section-content {
    padding: 49px 30px 52px;
  }

  .meet-our-team {
    margin: 88px 30px;
  }

  .footer-contents {
    padding: 66px 30px 35px;
  }
}

@media only screen and (max-width: 1024px) {
  body {
    padding: 0px 30px;
  }
  
  header {
    padding: 52px 0px 111px;
    margin: 0px -30px;
  }

  .header-wrapper nav ul {
    column-gap: 20px;
  }

  .header-wrapper nav ul li a {
    font-size: 16px;
    line-height: 120%;
  }

  .banner {
    flex-direction: column;
    padding: 0px 40px;
  }

  .banner-contents {
    width: 100%;
  }

  .banner-content {
    width: 100%;
  }

  .banner-image {
    justify-content: center;
  }

  .bmi-calculator .section-content {
    margin: 0px -30px;
    padding-top: 32px;
    padding-bottom: 36px;
  }

  footer {
    margin: 0px -30px;
  }
}

@media only screen and (max-width: 992px) {
  .change-your-habits {
    margin-top: 0px;
  }
  .image-with-content {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .img-content-box {
    width: 45%;
  }

  .run-extra-mile {
    margin-top: 84px;
  }

  .run-extra-mile-content {
    width: 50%;
    max-width: inherit;
  }

  .run-extra-mile-img {
    width: 50%;
    max-width: inherit;
  }

  .run-extra-mile-content .title {
    font-size: 36px;
  }

  .training-boxes {
    grid-template-columns: repeat(7, 1fr);
  }

  .training-boxes .box-item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .training-boxes .box-item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 6;
  }
  .training-boxes .box-item:nth-child(3) {
    grid-area: 1 / 6 / 2 / 8;
  }
  .training-boxes .box-item:nth-child(4) {
    grid-area: 2 / 1 / 3 / 4;
  }
  .training-boxes .box-item:nth-child(5) {
    grid-area: 2 / 4 / 3 / 6;
  }
  .training-boxes .box-item:nth-child(6) {
    grid-area: 2 / 6 / 3 / 8;
  }

  .training {
    margin-top: 84px;
  }

  .section-heading {
    margin-top: 72px;
    margin-bottom: 36px;
  }

  .bmi-calculator-content {
    flex-direction: column;
  }

  .bmi-chart {
    width: 100%;
  }

  .bmi-form {
    width: 100%;
    margin-top: 62px;
  }
}

@media only screen and (max-width: 768px) {
  .header-wrapper nav ul {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .banner-title {
    font-size: 36px;
  }

  header {
    padding-bottom: 0px;
  }
  .section-title {
    font-size: 32px;
  }

  .img-content-box {
    width: 100%;
  }

  .run-extra-mile {
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 30px;
  }

  .run-extra-mile-content {
    width: 100%;
  }

  .run-extra-mile-img {
    width: 100%;
  }

  .run-extra-mile {
    margin-top: 30px;
  }

  .training {
    margin-top: 30px;
  }

  .training-boxes {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .training-boxes .box-item:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  .training-boxes .box-item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 4;
  }
  .training-boxes .box-item:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .training-boxes .box-item:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
  .training-boxes .box-item:nth-child(5) {
    grid-area: 3 / 1 / 4 / 3;
  }
  .training-boxes .box-item:nth-child(6) {
    grid-area: 3 / 3 / 4 / 4;
  }
  .section-heading {
    margin-top: 30px;
  }

  .meet-our-team {
    margin-top: 30px;
  }

  .team-boxes {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-contents .content-boxes {
    flex-direction: column;
    row-gap: 30px;
  }

  .footer-contents .content-boxes .content-box:nth-child(1) {
    width: 100%;
  }

  .footer-contents .content-boxes .content-box:nth-child(2) {
    width: 100%;
    column-gap: 30px;
    justify-content: flex-start;
  }

  .copyright-text {
    text-align: left;
  }

  .banner {
    padding: 0px;
  }

  .change-your-habits {
    margin: 0px;
  }

  .run-extra-mile {
    margin-left: 0px;
    margin-right: 0px;
  }

  .training {
    margin-left: 0px;
    margin-right: 0px;
  }

  .section-heading {
    margin-left: 0px;
    margin-right: 0px;
  }

  .meet-our-team {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 576px) {
  .primary-btn {
    padding: 16px 20px;
  }
  .secondary-btn {
    padding: 16px 20px;
  }

  .banner-image .image-info2 {
    left: 0px;
  }
}