body, html {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000000;
}

ul, li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

button {
  cursor: pointer;
}

/* Shared Style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.miama-normal {
  font-family: "miamaregular", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  font-size: 36px;
  line-height: 120%;
  font-weight: 800;
  font-style: italic;
  color: #E6533C;
  text-decoration: none;
}

.primary-btn {
  padding: 16px 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background-color: #E6533C;
  border: 1px solid #E6533C;
  border-radius: 50px;
  transition: background-color .3s;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.primary-btn:hover {
  background-color: transparent;
  transition: background-color .3s;
}

.secondary-btn {
  padding: 16px 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: background-color .3s;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

.secondary-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transition: background-color .3s;
}

.section-title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
}

.section-subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
  margin-top: 14px;
}

.text-center {
  text-align: center;
}

/* Header Styles */
header {
  background-image: linear-gradient(to bottom, rgba(17, 17, 17, 100%), rgba(119, 119, 119, 0%));
  padding: 60px 0px;
}

.header-wrapper {
  margin: 0 190px;
}

.header-wrapper nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper nav ul {
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 10%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 47px;
}
.header-wrapper nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 20px;
  font-size: 18px;
  line-height: normal;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  transition: background-color .3s;
  text-decoration: none;
  border-radius: 50px;
}

.header-wrapper nav ul li a:hover {
  background-color: #E6533C;
  transition: background-color .3s;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}

.banner-contents {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-image {
  width: 50%;
}

.banner-content {
  width: 520px;
}

.banner-title {
  font-size: 78px;
  line-height: 120%;
  font-weight: 900;
}

.banner-title span {
  font-weight: 400;
}

.banner-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  color: rgba(255, 255, 255, 50%);
  margin-top: 28px;
}

.banner-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;
  margin-top: 28px;
}

.banner-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-image-wrap {
  position: relative;
}

.banner-image .image-info1 {
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 12px;
  position: absolute;
  top: 125px;
  right: -80px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: 1px solid rgba(255, 255, 255, 10%);
}

.banner-image .image-info1 .number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ffffff;
}

.banner-image .image-info1 .text {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 65%);
}

.banner-image .image-info2 {
  padding: 16px 24px;
  background-color: rgba(48, 48, 48, 54%);
  border: 1px solid rgba(255, 255, 255, 10%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  position: absolute;
  bottom: 63px;
  left: -120px;
}

.banner-image .image-info2 .circle {
  width: 40px;
  height: 40px;
  background-color: #E6533C;
  border-radius: 50%;
}

.banner-image .image-info2 .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner-image .image-info2 .content .number {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: .3px;
  font-weight: 900;
}

.banner-image .image-info2 .content .text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .5px;
  color: rgba(239, 237, 232, 65%);
}

/* Change Your Habits */
.change-your-habits {
  margin: 100px 298px 0px;
}

.image-with-content {
  margin-top: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
}

.img-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-content-box .box-img {
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 10%);
  margin-bottom: 30px;
}

.img-content-box .box-title {
  font-size: 18px;
  line-height: 120%;
  font-weight: 600;
  margin-bottom: 6px;
}

.img-content-box .box-content {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
}

.run-extra-mile {
  margin: 100px 190px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 165px;
  padding: 30px 32px 30px 54px;
  background-color: #222222;
  border-radius: 18px;
}

.run-extra-mile-content {
  max-width: 443px;
}

.run-extra-mile-img {
  max-width: 336px;
  height: 312px;
  border-radius: 18px;
  overflow: hidden;
}

.run-extra-mile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.run-extra-mile-content .title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
  margin-bottom: 14px;
}

.run-extra-mile-content .content {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .3px;
  color: rgba(255, 255, 255, 50%);
  margin-bottom: 34px;
}